<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>StatusQ</title>
	<link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
	<link rel="stylesheet" href="{{ url_for("static", filename="main.css") }}">
</head>

<body>
	<header>
		<a href="/">
			<h1>StatusQ</h1>
			<p>Because We Can</p>
		</a>

		<nav>
			{% if request.authorization is none %}
			<a href="{{ url_for("login") }}">Log in</a>
			<a href="{{ url_for("users") }}">Sign Up</a>
			{% else %}
			<p>{{ request.authorization.username }}</p>
			{% endif %}
		</nav>
	</header>

	{% block body %}{% endblock %}
</body>

</html>
