* {
	margin: 0;
	padding: 0;
}

header,
footer,
nav,
section,
article {
	display: block; /* required for legacy browsers */
}

/* cf. http://www.alistapart.com/articles/howtosizetextincss */
body {
	font-size: 100%;
}

h1, h2, h3, h4, h5, h6,
p,
ul, ol, dl,
pre {
	margin-bottom: 0.5em;
}

/* layout */

header {
	overflow: auto; /* contain floats */
	line-height: 1.2em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #AAA;
	padding: 0 0.2em;
	background-color: #EEE;
}

header nav {
	float: right;
}

header a {
	text-decoration: none;
	color: #333;
}

header h1,
header p {
	display: inline;
}

header h1 {
	font-size: 1em;
}

header p {
	font-size: 0.8em;
}

/* streams */

.stream {
	float: left;
	width: 20em;
	margin-left: 1em;
	margin-right: 1em;
	list-style-type: none;
}

.stream article {
	margin-bottom: 1em;
}

.stream time,
.stream .author {
	font-size: 0.9em;
}

.stream .author {
	text-decoration: none;
}

.stream .author img {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	overflow: hidden; /* primarily for ALT attribute */
	margin-right: 5px;
}

.stream time {
	display: block;
	float: right;
	color: #AAA;
}

.stream p {
	margin-top: 0.2em;
}
